<h1 class="page-header">Register</h1>


								<!-- <h4>Sign in</h4> -->
								 <form method="POST" action="/register"> 

												<label for="email-input">Email:</label>
												<input id="email-input" type="email" name="email" placeholder="Email"/><br />
												<label for="pass-input">Password</label>
												<input id="pass-input" type="password" name="password" />
												<p>

												<input type="submit" value="Register" />
												</p>
								</form>
								<br />
								<a ui-sref="login">Already have an account? Log in.</a>
