<ul class="nav nav-sidebar">
				<li><a ui-sref="loggedin">Ask Magic a Question</a></li>
				<li><a ui-sref="history">View history of questions</a><li>
						<li><a ui-sref="responses">View all Responses</a></li>
            <li><a ui-sref="createResponse">Create Custom Response</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a ui-sref="users">View all Users</a></li>
          <!--  <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
						<li><a href="">More navigation</a></li> -->
          </ul>
          <!-- <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
		</ul> -->
