<!DOCTYPE html>
<html lang="en" ng-app="eightApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body ng-controller="ApplicationController">
					<div ui-view="navigation"></div>
    
<div class="container-fluid">
      <div class="row">
        <div ui-view="sidebar" class="col-sm-3 col-md-2 col-md-offset-3 sidebar">

        </div>
        <div ui-view="main" class="col-sm-9 col-md-3 main">
								
         </div>

         

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
		
		<script src="/app.js"></script>
 <script src="/packages/authorization/authorization.js"></script> 
		 <script src="/packages/nav/navCtrl.js"></script> 
		<script src="/packages/responses/responseCtrl.js"></script>
		<script src="/packages/users/userCtrl.js"></script>

  </body>
</html>

